body{
    background-color: #eee6ff;
    
}
h1{
    font-family: sans-serif;
    font-size: 48px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
h2{
    font-family: sans-serif;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
p{
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}
button{
    background-color: #ccb3ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 15px;
}
a{
    text-decoration: none;
}
footer{
    background-color: #ccb3ff;
    text-align: center;
    border: none;
    font-family: sans-serif;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
}
